.telebtn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
  } */

.telebtn:hover {
    background-color: lighten(black, 5%);
  }

  .telebtn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }