  /* Style for the container to prevent wrapping */
  .button-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
  }

  /* Style for the data elements */
  .custom-button {
    margin: 0.1rem;
    width:78px; /* Set the width to 10 units */
    background-color: #e0e0e0; /* Light gray background */
    border: none;
    color: black;
    padding: 5px; /* Adjust padding as needed */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    margin-right: 5px; /* Add margin between elements */
    transition: background-color 0.3s; /* Smooth transition on hover */
    font-size :9px
  }

  /* Change background color on hover */
  .custom-button:hover {
    background-color: #ff0000; /* Red on hover */
    color: white; /* Text color on hover */
  }
  .c-custom-card {
    margin-bottom: 0.61rem;
    margin-right: 0.01rem; 
    margin-left:  0.01; 
    background-color: #faf9f9; /* Light gray background */
  }

  .custom-button-red {
    color: #ed4646; /* light red */
  }

  .custom-button-blue {
    color: #4444f5; /* light blue */
  }