.body-full {
  overflow-x: hidden;
  /* margin: .011rem; */
  padding: 0.01rem;
  font-family:  "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  font-weight: 500;
  position: relative;
  word-break: break-all;
  -webkit-text-size-adjust: none;
  background-color: #eaeef3;
  color: #303038;
  /* font-size: 16px; */
  /* line-height: 19px; */
  border-color: white;
}

.bgcolor1 {
  background-color: #f7f7f8;
}


  /* 옆에 있는 요
  /* 원하는 마진 크기 설정 */
.custom-card {
  margin-bottom: 1.01rem;
  margin-right: 0.01rem; 
  margin-left:  0.01; 

}

.mobile-font{
  margin-bottom: 1.01rem;
  margin-right: 0.1; 
  margin-left:  0.1; 

}
 /* 머메이드 */
/* .mermaid-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.mermaid-content {
  height: 100%; 
}  */


/* .mermaid-container {
  width: 100%;
  height: 100px; 
  overflow: hidden;
  justify-content: center;
}

.mermaid-content {
  margin-top: -10%; 
  height: 130%;
} */


