.text-red {
    color: rgb(254, 254, 254);
  }
  
  .selected-red-row {
    background-color: rgb(236, 147, 147);
    /* or any other styling you want for red rows */
  }
  .selected-coinli{
    font-size :0.7rem;
    color: rgb(110, 96, 57);
  }
  .grid-row {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f5efef;
    margin-top: 1px;
    font-size: 0.625rem;
  }
  
  .header {
    font-weight: bold;
    text-align: center;
  }
  
  .grid-cell {
    flex: 1;
    padding: 1px;
    text-align: right;
  
  }
  .btc-cell-price {
    /* flex: 1; */
    padding: 1px;
    width: 75px;
    text-align: right;
  
  }
  .wider-cell-price {
    padding: 1px;
    width: 90px
      /* Your desired width here, for example, 120px */
    ;
    text-align: right;
  }
  
  .smaller-cell-price {
    padding: 1px;
    width: 49px
      /* Your desired width here, for example, 120px */
    ;
    text-align: right;
  }
  
  .grid-cell-coin {
    flex: 1;
    /* padding: 1px; */
    text-align: center;
    font-size: 0.9rem;
  }
  
  .grid-cell-header {
    flex: 2;
    /* padding: 1px; */
    text-align: center;
    font-weight: bold;
    padding: 3px;
  }
  
/*   
  button {
    border: none;
    background: none;
    cursor: pointer;
  } */